@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* ----------------------------------------- Shared parameters ----------------------------------------- */

.header,
.first,
.footer {
    background-color: #1f2937;

}

.link,
.first-subtext,
caption,
.small-text {
    font-size: 18px;
    color: #e5e7eb;
}

/* ----------------------------------------- Header section parameters ----------------------------------------- */

.header {
    display: flex;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 15px;
}


/* ----------------------------------------- First section parameters ----------------------------------------- */

.first {
    display: flex;
    justify-content: space-evenly;
    text-wrap: wrap;
    flex-shrink: 0;
}

.first-block{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.first-maintext {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.first-subtext {
    text-wrap: wrap;
}

.first-picture {
    height: auto;
    width: 450px;
}

/* ----------------------------------------- Second section parameters ----------------------------------------- */

.second-head {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

/* ----------------------------------------- Third section parameters ----------------------------------------- */

.third {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

/* ----------------------------------------- Fourth section parameters ----------------------------------------- */

button,
.box-text {
    color: #e5e7eb;
    background-color: #3882f6;
}

/* ----------------------------------------- Footer section parameters ----------------------------------------- */