@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* ----------------------------------------- Shared parameters ----------------------------------------- */

.header,
.first,
.footer {
    background-color: #1f2937;

}

.link,
.first-subtext,
caption,
.small-text {
    font-size: 18px;
    color: #e5e7eb;
}

button,
.box-text {
    color: #e5e7eb;
    background-color: #3882f6;
}

/* ----------------------------------------- Header section parameters ----------------------------------------- */

.header {
    display: flex;
    justify-content: space-around;
    min-height: 50px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 15px;
}


/* ----------------------------------------- First section parameters ----------------------------------------- */

.first {
    display: flex;
    justify-content: space-evenly;
    text-wrap: wrap;
    flex-shrink: 0;
}

.first-block{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 400px;
    justify-content: center;
}

.first-maintext {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.first-subtext {
    text-wrap: wrap;
}

.first-picture {
    height: auto;
    width: 450px;
}

/* ----------------------------------------- Second section parameters ----------------------------------------- */

.second {
    padding: 100px;
}

.second-head {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.pictures {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex: 1;
}

.picture {
    align-content: space-between;
    max-width: 200px;
}

/* ----------------------------------------- Third section parameters ----------------------------------------- */

.third {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 200px;
    align-items: flex-end;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
}

.speaker {
    font-weight: 700;
}

/* ----------------------------------------- Fourth section parameters ----------------------------------------- */

.fourth {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100px;
    padding: 100px;
    gap: 50px
    ;
}

.box {
    background-color: #3882f6;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 75px
}

button {
    
    align-items: flex-end;
    border-radius: 12px;
    align-self: flex-end;
}

.box-text {
    font-weight: 700;

}

.small-text {
    font-size: medium;
}


/* ----------------------------------------- Footer section parameters ----------------------------------------- */